# URL de Conexão do Banco de Dados PostgreSQL (Supabase, Neon, ou Local)
DATABASE_URL="postgresql://usuario:senha@host:port/database?pgbouncer=true"
DIRECT_URL="postgresql://usuario:senha@host:port/database"

# Configurações do Cloudflare R2 (Armazenamento de Cursos SCORM)
NEXT_PUBLIC_R2_URL="https://seu-slug-r2.cloudflare.com"
R2_ENDPOINT="https://sua_conta_id.r2.cloudflarestorage.com"
R2_REGION="auto"
R2_ACCESS_KEY_ID="sua_access_key_id"
R2_SECRET_ACCESS_KEY="sua_secret_access_key"
R2_BUCKET_NAME="seu-nome-do-bucket"

# Configuração do Resend (Disparo de E-mails de Onboarding)
RESEND_API_KEY="re_sua_chave_do_resend"

# Configurações do NextAuth
NEXTAUTH_SECRET="sua_chave_secreta_aqui"
NEXTAUTH_URL="http://localhost:3000"

# Chave de bypass para criar Tenants no Postman sem cookies de sessão
SUPERADMIN_CREATION_KEY="sua_chave_secreta_superadmin_aqui"
